.row.about {
  /* height: inherit; */
  padding: 30px;
  text-align: center;
}

.row.about h1 {
  width: 100%;
  text-align: center;
}

/* .about .col-4 img {
  vertical-align: middle;
} */

#landing, #about, #schedule{
height: 100vh;
}

#landing {
  border: 1px solid red
}

#about {
  border: 1px solid blue
}

#schedule {
  border: green solid;
}