html{
  scroll-behavior: smooth;
}

body {
  // background-image: url("https://cdn.pixabay.com/photo/2020/01/15/09/37/dragon-4767447_960_720.jpg");
  // background-repeat: no-repeat;
  // background-size: 100% auto; 
  // background: linear-gradient(
    //   180deg,
    //   rgb(0, 0, 0) 0%,
    //   rgb(161, 87, 214) 30%,
    //   rgb(255, 0, 247) 85%
    // );
  background-color: #5D28E3;
  margin: 0;
  padding: 0;
  * {
    color: white;
  }
  h1 {
    font-family: fantasy;
  }
}

h1 {
  width: 100%;
  text-align: center;
}

ul {
  list-style-type: none;
}

/* hr styling creds: Glyph, by Harry Roberts */
hr {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}
hr:after {
  content: "ยง";
  font-weight: 100;
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
}

a {
 &.btn {
  color: black;
  background: white;
  border: 1px solid black;
  margin: 1px;
  }
  &.nav-link {
    background: transparent;
    border: transparent;
    color: #7d86f2;;
    font-size: 1em;
    &:hover {
      color: darkorange;
    }
  }
}

#sponsors,
#faq,
#about,
#schedule,
#contact
{
  padding-top: 5vh;
  padding-bottom: 15vh;
}

// LANDING PAGE 
#landing {
  margin: -15px;
  background-image: url(./assets/background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;

  min-height: 100vh;
  text-align: center;
  padding: 3%;
  * {
    font-size: 25px;
    line-height: 1;
  }
  .intro {
    letter-spacing: 5px;
    font-family: fantasy;
  }
  h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 4em;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: #fff;
    text-shadow: 5px 5px purple;
    text-align: center;
    letter-spacing: 10px;

    /*
    Animated Title

    background-image: url(https://cdn.pixabay.com/photo/2018/06/26/18/42/storm-clouds-3499982_1280.jpg);
    animation: clouds-moving infinite 20s;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-timing-function: linear;
    */
  }
  a.btn:hover {
    background-color: #e852c9c7;
    color:white;
    border: 1px solid white;
  }
  p, a {
    font-family: fantasy;
    font-weight: 900;
  }
  a.locater {
    font-size: 20px;
    color: #fff;
  }
  a.locater:hover {
    font-size:22px;
    color: #e852c9c7;
  }
  div.bttn-group {
    width: 100%;
    padding-top: 15px;
  }
}
 
.bttn-group button {
  background: transparent;
  &.btn-danger {
    color: #fff;
    border-color: #7d86f2;
    &:hover {
      background-color: #7d86f2;
    }
  }
}

@keyframes clouds-moving {
	0% {
		background-position: 0%;	
	}
	50% {
		background-position: 100%;	
	}
	100% {
		background-position: 0%;
	}
}

// ABOUT PAGE
#about {
  margin: -15px;  // Reset the margin from an inherited value
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255) 0%,
    rgb(186, 169, 228) 100%
  );
  color: rgb(142, 29, 203);

  img.witch {
    float: right;
  }
  .about_text{
    padding: 1em;
    color: rgb(142, 29, 203);
    font-size: 2em;
    font-family: fantasy;
  }
  .about-text-changing {
    color: rgb(142, 29, 203);
  }
  .cards-group {
    padding: 5em;
    padding-bottom: 15px;  // to offset the box-shadow (10px) & margin (5px) of the cards
  }
  .card {
    margin: 5px 20px;
    height: 100%;
    box-shadow: 10px 10px #ba81f7;;
    padding: 5px;
    * {
      color: black;
    }
    img {
      border-radius: 50%;
      padding: 5px;
      border: 2px solid green;
    }
    p.card-text {
      font-size: 18px;
    }
    .card-title {
      font-family: fantasy;
      font-weight: bold;
    }
  }
}



// SCHEDULE
#schedule {
  margin: -15px;  // Reset the margin from an inherited value
  background: linear-gradient(
    180deg,
    rgb(186, 169, 228) 0%,
    rgb(22, 148, 239) 100%
    );
  color: black;
  .schedule {
    margin: 0 auto;
  }
}

// CONTACT 
#contact {
  margin: -15px;  // Reset the margin from an inherited value
  background: linear-gradient(
    180deg,
    rgb(6, 148, 249) 0%,
    rgb(248, 254, 79) 100%
    );
  span.nobreak{
    white-space: nowrap;
  }
  .logo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid white;
    margin-bottom: 15px;
  }
  i.fab {
    margin: 4px;
    font-size: 41px;
  }
}

// FOOTER
#footer {
  height: 20vh;
  padding: 5vh;
}

// SPONSORS
#sponsors {
  margin: -15px;  // Reset the margin from an inherited value
  background: linear-gradient(
    180deg,
    rgb(45, 149, 224) 0%,
    rgb(22, 148, 239) 100%
    );
  img {
    width: 200px;
    height: 200px;
    margin-left: 15px;
  }
}

// FAQ
#faq {
  margin: -30px;  // Reset the margin from an inherited value
  background: linear-gradient(
    180deg,
    rgb(22, 148, 239) 0%,
    rgb(6, 148, 249) 100%
    );
}
.accordion__button {
  margin: 15px;  // Re-add the margin to the buttons
  box-shadow: 5px 5px rebeccapurple;
  border: 2px solid #0062cc;
  margin-top: 35px;
  text-align: center;
  font-family: fantasy;
  border-radius: 20px;
}

/* ADD MAP IMAGE, THIS TURNS IT B&W */
/* .map {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
} */
