#landing, #about, #sponsors, #faq, #schedule, #tracks, #contact, #prehack {
  border: 1px solid red;
}

/*LANDING PAGE ------------------------------- */
#landing {
  /* responsive screen size / fill screen  */
  border: 1px solid #fff;
  text-align: center;
  padding: 10%;
} 

#landing div.bttn-group {
  width: 100%;
}
/*------------------------------------*/

#footer {
  height: 20vh; 
  padding: 5vh;
}

#genPadding {
  padding: 1%;
}

#genPaddingLg {
  padding: 5%;
}


.row.about {
  padding: 30px;
  text-align: center;
}

h1 {
  width: 100%;
  text-align: center;
}

#schedule {
  height: 110vh;
  color: black;
  border: green solid;
}

.schedule-style{
 text-decoration: underline;
}

ul{
  list-style-type: none;
}

.map {
  -webkit-filter: grayscale(100%);
     -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
       -o-filter: grayscale(100%);
          filter: grayscale(100%);
}
