// html{
//   scroll-behavior: smooth;
// }

body {
  background-color: #5D28E3;
  margin: 0;
  padding: 0;
  * {
    color: white;
  }
  h1 {
    font-family: fantasy;
  }
}

h1 {
  width: 100%;
  text-align: center;
}

ul {
  list-style-type: none;
}

/* hr styling creds: Glyph, by Harry Roberts */
hr {
  overflow: visible; /* For IE */
  border: 0;
  margin-top: 1.3em;
  margin-bottom: 1.3em;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc)
}
hr:after {
  content: "ยง";
  display: inline-block;
  position: relative;
  top: -0.75em;
  padding: 0 0.25em;

  font-family: Noto Sans;
  font-style: normal;
  font-weight: 100;
  font-size: 32px;
  line-height: 44px;
  text-align: center;

  color: #3C3C3C;
  background: white;
}

a {
 &.btn {
  color: black;
  background: white;
  border: 1px solid black;
  margin: 1px;
  }
  &.nav-link {
    background: transparent;
    border: transparent;
    color: #7d86f2;;
    font-size: 1em;
    &:hover {
      color: darkorange;
    }
  }
}

.disable-user-select {
  user-select: none;
  cursor: default;
}

#sponsors,
#faq,
#about,
#schedule,
#contact
{
  padding-top: 5vh;
  padding-bottom: 15vh;
}

// LANDING PAGE 
#landing {
  margin: -15px;
  background-image: url(./assets/background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;

  min-height: 100vh;
  text-align: center;
  padding: 3%;
  * {
    font-size: 25px;
    line-height: 1;
  }
  .intro {
    letter-spacing: 5px;
    font-family: fantasy;
  }
  h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 4em;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: #fff;
    text-shadow: 5px 5px purple;
    text-align: center;
    letter-spacing: 10px;

    /*
    Animated Title

    background-image: url(https://cdn.pixabay.com/photo/2018/06/26/18/42/storm-clouds-3499982_1280.jpg);
    animation: clouds-moving infinite 20s;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-timing-function: linear;
    */
  }
  a.btn:hover {
    background-color: #e852c9c7;
    color:white;
    border: 1px solid white;
  }
  p, a {
    font-family: fantasy;
    font-weight: 900;
  }
  a.locater {
    font-size: 20px;
    color: #fff;
  }
  a.locater:hover {
    font-size:22px;
    color: #e852c9c7;
  }
  div.bttn-group {
    width: 100%;
    padding-top: 15px;
  }
}
 
.bttn-group button {
  background: transparent;
  &.btn-danger {
    color: #fff;
    border-color: #7d86f2;
    &:hover {
      background-color: #7d86f2;
    }
  }
}

@keyframes clouds-moving {
	0% {
		background-position: 0%;	
	}
	50% {
		background-position: 100%;	
	}
	100% {
		background-position: 0%;
	}
}

// ABOUT PAGE
#about {
  margin: -15px;  // Reset the margin from an inherited value
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255) 0%,
    rgb(186, 169, 228) 100%
  );
  color: rgb(142, 29, 203);

  .about-header h2 {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    color: #9400D3;
  }

  .about-summary{
    padding: 1em;
    color: rgb(142, 29, 203);
    font-size: 2em;
    font-size: 32px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
  }

  .about-text-changing span {
    color: rgb(142, 29, 203);
    font-size: 32px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
  }

  .about-description p {
    padding-left: 1em;
    padding-right: 1em;
    color: black;
    font-size: 24px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
  }

  img.witch {
    margin: 5em;
    width: 508.49px;
    height: 600.03px;
    float: right;
  }
  
  .bold {
    font-weight: bold;
    color: rgb(142, 29, 203);
  }
}

// SOCIAL GOOD
#socialgood {
  margin: -15px;  // Reset the margin from an inherited value
  background:rgb(186, 169, 228);

  .socialgood_text {
    font-family: Nunito;
    font-size: 58px;
    color: #7700E7;
  }
  
  .cards-group {
    padding: 5em;
    padding-bottom: 15px;  // to offset the box-shadow (10px) & margin (5px) of the cards
  }
  .card {
    margin: 5px 20px;
    height: 100%;
    box-shadow: 10px 10px #ba81f7;;
    padding: 5px;
    * {
      color: black;
    }
    img {
      // width: 300px;
      // height: 300px;
      margin: 0 auto;
    }
    p.card-text {
      font-size: 24px;
      font-family: Nunito;
      line-height: 33px;
    }
    .card-title {
      font-family: Quicksand;
      font-size: 36px;
    }
  }
}



// SCHEDULE
#schedule {
  margin: -15px;  // Reset the margin from an inherited value
  background: linear-gradient(
    180deg,
    rgb(186, 169, 228) 0%,
    rgb(22, 148, 239) 100%
    );
  color: black;
  .schedule {
    margin: 0 auto;
  }
}

// CONTACT 
#contact {
  margin: -15px;  // Reset the margin from an inherited value
  background: linear-gradient(
    180deg,
    rgb(6, 148, 249) 0%,
    rgb(248, 254, 79) 100%
    );
  span.nobreak{
    white-space: nowrap;
  }
  .logo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid white;
    margin-bottom: 15px;
  }
  i.fab {
    margin: 4px;
    font-size: 41px;
  }
}

// FOOTER
#footer {
  height: 20vh;
  padding: 5vh;
}

// SPONSORS
#sponsors {
  margin: -15px;  // Reset the margin from an inherited value
  background: linear-gradient(
    180deg,
    rgb(45, 149, 224) 0%,
    rgb(22, 148, 239) 100%
    );
  img {
    width: 200px;
    height: 200px;
    margin-left: 15px;
  }
}

// FAQ
#faq {
  margin: -30px;  // Reset the margin from an inherited value
  padding: 10vw;
  background: linear-gradient(
    180deg,
    rgb(22, 148, 239) 0%,
    rgb(6, 148, 249) 100%
  );

  font-family: 'Nunito', sans-serif;
}

.faq-title {
  font-family: 'Nunito', sans-serif;
  font-size: 3em;
  margin-bottom: 1em;
}

.faq-q-and-a {
  margin: 1.25em;
}

.faq-question {
  font-size: 2em;
  font-weight: bold;
}

.faq-answer {
  font-size: 1.25em;
  margin-bottom: 2em;
}

/* ADD MAP IMAGE, THIS TURNS IT B&W */
/* .map {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
} */
