html{
  scroll-behavior: smooth;
}

#about,
#sponsors,
#faq,
#tracks,
#contact,
#prehack {
  padding: 30px;
  height: 100vh;
}

body {
  background: rgb(140, 136, 201);
  background: linear-gradient(
    180deg,
    rgba(140, 136, 201, 1) 0%,
    rgba(87, 214, 130, 1) 76%,
    rgba(0, 212, 255, 1) 100%
  );

  & * {
    color: white;
  }
}

a.btn {
  color: black;
  background: white;
  border: 1px solid black;
  margin: 1px;
}

a.nav-link {
  background: transparent;
  border: transparent;
  color: lightyellow;
  padding: 30px;
  font-size: 1em;

  &:hover {
    text-dgecoration: underline;
    font-size: 1.5em;
    padding: 0.8em;
    font-weight: bold;
    text-decoration-color: darkorange;  
  }
}

/*LANDING PAGE ------------------------------- */
#landing {
  min-height: 100vh;
  text-align: center;
  padding: 10%;

  & a {
    font-size: 15px;
    line-height: 1;
    padding: 15px;
  }

  & a:hover {
    background-color: #e852c9c7;
    color: white;
    border: 1px solid white;
  }

  & div.bttn-group {
    width: 100%;
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  & h1 {
    font-family: "Luckiest Guy", cursive;
    font-size: 4em;
  }

  & * {
    font-size: 25px;
    line-height: 1;
  }
}

.section_title {
  font-size: 4em;
  font-weight: bold;
  font-family: "Luckiest Guy", cursive;
  letter-spacing: 4px;
}


/*------------------------------------*/

/* ABOUT PAGE------------------------------- */
.about_text {
  font-size: 2em;
  font-family: "Montserrat";
}
/* ----------------------------------------- */

/*SCHEDULE -----------------------------*/
#schedule {
  min-height: 65em;
}

#footer {
  height: 20vh;
  padding: 5vh;
}

.col-6.schedule {
  margin: 0 auto;
}

#sponsors img {
  width: 200px;
  height: 200px;
  margin-left: 15px;
}

h1 {
  width: 100%;
  text-align: center;
}

#schedule {
  height: 150vh;
  color: black;
}

ul {
  list-style-type: none;
}

.map {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}
