// This is universal CSS that applies to all generic html tags
body {
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    rgba(63, 0, 255, 0.5) 87.5%,
    rgba(187, 107, 217, 0.5) 100%
  );
  margin: 0;
  padding: 0;

  * {
    color: white;
    line-height: 1.5;
  }

  h1 {
    width: 100%;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 3em;
    color: #9400d3;
  }
  
  h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 3em;
    color: #9400d3;
    margin-bottom: 1em;
  }
  p {
    font-size: 1.5rem;
    line-height: 1.5;
  }
  button.register,
  button.contact {
    color: white;
    padding: 0rem 2rem;
    background-color: darkorange;
    border-radius: 1rem;
    font-size: 2em;
    margin-top: 1rem;
    font-family: 'Nunito', sans-serif;
  }

  ul {
    list-style-type: none;
  }

  nav.navbar {
    justify-content: flex-end;
    background-color: transparent;
    transition: background-color 1s;
    font-family: 'Nunito', sans-serif;
  }

  nav.navbar.scrolled {
    background-color: rgba(93, 40, 227, 0.75);
    a {
      color: white;
    }
  }

  /* hr styling creds: Glyph, by Harry Roberts */
  hr {
    overflow: visible; /* For IE */
    border: 0;
    margin-top: 1.3em;
    margin-bottom: 1.3em;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
  }
  hr:after {
    content: "ยง";
    display: inline-block;
    position: relative;
    top: -0.75em;
    padding: 0 0.25em;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: 100;
    font-size: 32px;
    line-height: 44px;
    text-align: center;

    color: #3c3c3c;
    background: white;
  }

  a {
    &.btn {
      color: black;
      background: white;
      border: 1px solid black;
      margin: 1px;
    }
    &.nav-link {
      background: transparent;
      border: transparent;
      color: #7d86f2;
      font-size: 1em;
      &:hover {
        color: darkorange;
      }
    }
  }
  #sponsors,
  #faq,
  #about,
  #schedule,
  #socialgood,
  #organizers {
    padding-top: 5vh;
    padding-bottom: 15vh;
    * {
      font-family: "Nunito", sans-serif;
    }
  }
}

@media (max-device-width: 600px) {
  #landing, #sponsors {
    button.register,
    button.contact {
      margin-top: 2rem;
      padding: 1rem 3rem;
      font-size: 5em;
      border-radius: 2rem;
    }
  }
  body {
    h2, h1 {
      font-size: 5em;
    }
    p {
      font-size: 2.5rem;
    }
  }
}

/* ADD MAP IMAGE, THIS TURNS IT B&W */
/* .map {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
} */
