#contact {
  span.nobreak {
    white-space: nowrap;
  }
}

.avatar-card {
  min-height: 1.2em;
  padding-top: 3em;
}

.avatar-logo {
  width: 15em;
  height:15em;
  border-radius: 50%;
  border: 3px solid white;
  margin-bottom: 15px;
}

.avatar-name{
  font-size: 1em;
  color: navy;
}

.avatar-role{
  color:rgb(63, 62, 62);
}