#contact {
  span.nobreak {
    white-space: nowrap;
  }
  .logo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid white;
    margin-bottom: 15px;
  }
  i.fab {
    margin: 4px;
    font-size: 41px;
    // font-family: 'Times New Roman', Times, serif;
  }
}
