#faq {
  padding: 10vw;
}

.faq-title {
  font-family: "Nunito", sans-serif;
  font-size: 3em;
  margin-bottom: 1em;
}

.faq-q-and-a {
  margin: 1.25em;
}

.faq-question {
  font-weight: bold;
  // small
  @media (max-device-width: 800px) {
    font-size: 5.5vw;
  }
  // large
  @media (min-device-width: 800px) {
    font-size: 3vw;
  }
}

.faq-answer {
  margin-bottom: 2em;
  // small
  @media (max-device-width: 800px) {
    font-size: 3.5vw;
  }
  // large
  @media (min-device-width: 800px) {
    font-size: 1.5vw;
  }
}
