#faq {
  padding: 10vw;
}

.faq-title {
  font-family: "Nunito", sans-serif;
  font-size: 3em;
  margin-bottom: 1em;
}

.faq-q-and-a {
  margin: 1.25em;
}

.faq-question {
  font-size: 2em;
  font-weight: bold;
}

.faq-answer {
  font-size: 1.25em;
  margin-bottom: 2em;
}
