@font-face {
  font-family: "Feldicouth Norm";
  src: url("../assets/fonts/feldicouth-norm.woff") format("woff");
}

#landing {
  background: #fff;
  background-image: url(../assets/landing-background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 100vh;
  text-align: center;
  padding-top: 9%;

  .intro {
    letter-spacing: 2px;
    font-family: "Papyrus", "Feldicouth Norm", fantasy;
    font-size: 1.5rem;
    font-weight: bold;
  }

  h1 {
    font-family: "Luckiest Guy", sans-serif;
    font-size: 7rem;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: #fff;
    text-shadow: 8px 8px 0px rgba(128, 0, 128, 0.5);
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    letter-spacing: 7.5px;
  }

  .brooklyn {
    display: block;
  }

  p {
    font-size: 2rem;
    font-family: "Nunito", sans-serif;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
  }

  a.locater {
    font-size: 1.75rem;
  }

  p.application-period {
    margin-top: 1vh;
  }

  .countdown-clock-time-left {
    color: #fff;
    font-family: "Quicksand", sans-serif;
    font-size: 2rem;
    // font-weight: bold;
    margin-top: 2rem;
    // margin-bottom: -0.5rem;
  }

  .countdown-clock-hours {
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: -0.5rem;
  }

  .countdown-clock {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
  }

  .btn:hover {
    background-color: #e852ca;
    color: white;
    border: 1px solid white;
  }

  .locater:hover {
    color: #e852c9c7;
  }
}

@media (max-device-width: 600px) {
  #landing {
    padding-top: 20%;
    background-position: 75%;

    .intro {
      font-size: 3rem;
    }

    h1 {
      font-size: 11rem;
      margin: 1rem 0;
      padding-top: 2vh;
    }

    p {
      font-size: 3rem;
      margin-bottom: 1rem;
    }

    a.locater {
      font-size: 2.75rem;
    }

    .countdown-clock-time-left {
      color: #fff;
      font-family: "Quicksand", sans-serif;
      font-size: 3rem;
      margin-top: 3rem;
      margin-bottom: -2rem;
    }

    .countdown-clock-hours {
      color: #fff;
      font-family: "Quicksand", sans-serif;
      font-size: 5rem;
      font-weight: bold;
      margin-top: 3rem;
      margin-bottom: -0.5rem;
    }
  
    .countdown-clock {
      color: #fff;
      font-size: 3rem;
      font-weight: bold;
    }

    button.register {
      margin-top: 2.5vh;
    }

    p.application-period {
      margin-top: 2vh;
    }
  }
}
