#landing {
  background-image: url(../assets/landing-background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  min-height: 100vh;
  text-align: center;
  padding: 3%;
  padding-top: 10%;
  * {
    font-size: 1em;
  }
  .brooklyn {
    display: block;
  }
  .intro {
    letter-spacing: 5px;
    font-family: fantasy;
  }

  h1 {
    font-family: "Luckiest Guy", cursive;
    font-size: 5em;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: #fff;
    text-shadow: 5px 5px purple;
    text-align: center;
    letter-spacing: 10px;
  }
  .btn:hover {
    background-color: #e852c9c7;
    color: white;
    border: 1px solid white;
  }
  p {
    font-size: 2rem;
    font-family: fantasy;
    font-weight: 900;
    &.countdown-clock {
      color: #5d28e2;
      font-size: 1em;
    }
  }
  .locater:hover {
    color: #e852c9c7;
  }
}


@media (max-device-width: 600px) {
  #landing {
    padding-top: 20%;
    *, h1, p, a, .locator {
      color: #5d5455;
    }
    h1 {
      font-size: 11em;
    }
    p, a {
      font-size: 2.5rem;
    }
    .countdown-clock {
      font-size: 2rem;
    }
  }
}
