#organizers {
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
}

.organizers-title {
  span.nobreak {
    white-space: nowrap;
  }
}

.avatar-card {
  min-height: 1.2em;
  padding-top: 3em;
  padding-left: 1em;
  padding-right: 1em;
}

.avatar-logo {
  width: 100%;
  height: auto;
  border-radius: 50%;
  border: 3px solid white;
  margin-bottom: 15px;
}

.avatar-name {
  font-size: 1em;
  color: navy;
}

.avatar-role {
  color: rgb(63, 62, 62);
}
