#socialgood {
  .card-container {
    padding-bottom: 2em; 
  }
  .card-group {
    margin:0 5vw;
    justify-content: center;
  }
  .card {
    height: 100%;
    box-shadow: 10px 10px #ba81f7;
    padding: 5px;
    border-radius: 25px;
    * {
      color: black;
    }
    img {
      margin: 0 auto;
    }
    p.card-text {
      font-size: 1em;
      font-family: Nunito;
      line-height: 1.5;
    }
    .card-title {
      font-family: Quicksand;
      font-size: 1.5em;
      line-height: 2;
    }
  }
}

@media (max-device-width: 990px) {
  #socialgood {
    .card-container{
      padding: 1vw 4vw;
      .card-title {
        font-size: 2.5em;
      }
      p.card-text {
        font-size: 1.5em;
      }
    }
  }
}


@media (max-device-width: 450px) {
  #socialgood {
    .card-container{
      padding: 2vw;
      .card {
        .card-title {
          font-size: 3em;
          letter-spacing: 2px;
        }
        .card-text {
          font-size: 2em;
        }
      }
    }
  }
}
